.about {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about__img {
  position: relative;
}

.about__content {
  display: grid;
  grid-template-columns: 6fr 3fr;
  -moz-column-gap: 124px;
  justify-content: space-between;
  column-gap: 124px;
}

.about__header {
  margin-bottom: 28px;

  font-size: 25px;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.about__text {
  margin-bottom: 28px;
 
  font-size: 17px;
  line-height: 1.4;

  p + p {
    margin-top: 10px;
  }
}

