.about {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto 1fr;
}

.about__img {
  grid-column-start: 1;
  grid-column-end: 4;
}

.about__desc {
  grid-column-start: 5;
}

.about__header {
  margin-bottom: 28px;

  font-size: 25px;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.about__text {
  margin-bottom: 28px;
 
  font-size: 17px;
  line-height: 1.4;

  p + p {
    margin-top: 10px;
  }
}

