.cart {
}
.cart-header {
  padding-bottom: 26px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 475px auto;
  border-bottom: 1px solid #ccc;
}

.cart-header__wrapper {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 65px 1fr;
}

.cart-header__title {
  font-size: 20px;
  line-height: 1.4;
}
.cart-header__count {
}
.cart-header__cost {
}
.cart-header__total {
  grid-column: 4;
}

.cart-footer {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-footer__total {
  height: 68px;
  padding: 16px 31px;
  background-color: #f1eadc;

  font-size: 25px;
  line-height: 1.4;
}
.cart-footer__text {
}
.cart-footer__count {
}
.cart-footer__price {
}
.cart-footer__button {
  margin-left: 15px;
}
.button-solid {
}