.footer {
  padding-top: 100px;
  padding-bottom: 100px;
	background-color: var(--page-bg-accent);

  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  a {
    display: block;
  }
}

.footer__column {
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 30px;

  &:first-child {
    grid-column: 1;
  }
  &:last-child {
    grid-column: 3;
  }
}

.footer__nav {
  grid-column: 2;
  font-size: 15px;
}

.footer__contact {
  grid-column: 3;
  text-align: right;

  * + * {
    margin-top: 10px;
  }
}

.footer__copyright {
  grid-column: 1;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.inner-nav-wrapper {
  margin-top: 40px;
}

.inner-nav__list li + li {
  margin-top: 10px;
}

