.form-order {
  width: 918px;
  display: flex;
  justify-content: space-between;
}

.form-order__user {
  width: 350px;
}

.form-order__details {
  width: 255px;
}

.form-order__block {
  input + input {
    margin-top: 35px;
  }
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.form-order__title {
  margin-bottom: 47px;

  font-size: 25px;
  line-height: 1.4;
}

.form-order__total thead, 
.form-order__total tfoot {
  text-align: left;

  tr, th {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
  }
}

.form-order__total tbody {
  th {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.4;
  }

  tr + tr {
    margin-top: 30px;
  }
}

.form-order__total tfoot {
  position: relative;
  z-index: 1;
  &::before {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 284px;
    height: 57px;
    background-color: #f1eadc;
  }

}

