.order {
}
.container {
}
.order__header {
  margin-bottom: 214px;
}

.order__body {
}

.order__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__img {
 margin-right: 32px;
}

.order__text {
  font-size: 17px;
  line-height: 1.4;
}

.order__title {
  margin-bottom: 17px;
  font-size: 25px;
}
.order__message {
}
.order__button {
}
.button-outline {
}