.link-to-page {
  cursor: pointer;
  &::before {
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in;
  }
}

.link-above-others {
  position: relative;
  z-index: 11;
}

.page-shopping-cart__header {
  margin-bottom: 138px;
}

.page-shopping-cart__grid {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 2fr 3fr 2fr;
  align-items: center;
}

.page-shopping-cart__grid + .page-shopping-cart__grid {
  margin-top: 50px;
}

.page-shopping-cart__heading {
  padding-bottom: 26px;
  border-bottom: 1px solid #ccc;

  font-family: var(--font-main);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.page-shopping-cart__block--flex {
  display: flex;
  align-items: center;
}

.page-shopping-cart__block {
  font-size: 17px;
  line-height: 1.4;
}

.page-shopping-cart__delete {
  padding: 20px 20px;
  margin: -20px -20px;
  margin-right: 45px;

  svg {
    transition: all 0.2s ease-in;
  }

  &:hover svg {
    stroke: red;
  }
}

.page-shopping-cart__img {
  margin-right: 36px;

  overflow: hidden;
  img {
    width: 125px;
    height: 179px;
  }
}

.page-shopping-cart__amount {
  font-weight: 400;
  font-size: 20px;

  span {
    padding: 8px 18px 11px 20px;
    width: 47px;
    height: 47px;

    border: 1px solid #afafaf;
  }
 
}

.page-shopping-cart__check {
  margin-bottom: 28px;
}

.page-shopping-cart__row {
  display: flex;
  justify-content: flex-end;
}

.page-shopping-cart__buttons-wrapper {
  display: flex;
  column-gap: 15px;
}