main.product-page {
  padding-top: 110px;
  padding-bottom: 130px;
}

.product {
  margin-bottom: 130px;
}

.product__swiper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.product__price {
  margin-bottom: 60px;
}

.product__content {
  display: flex;
  align-items: center;
  column-gap: 74px;
}

.product__cta {
  display: flex;
  column-gap: 11px;
}

.product__text {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

