.profile {
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile__title {
  padding-bottom: 40px;
  text-align: center;
}

.profile__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
  
}

.profile__column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  &--img {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  &--desc {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.profile__definition-list {
  margin-bottom: 20px;
}

// .enter-or-reg {
//   height: 180px;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   row-gap: 20px;

//   background-color: #eaeff2;
//   border-radius: 8px;
//   text-align: center; 
// }

// .enter-or-reg__text {
//   max-width: 400px;

//   font-weight: 400;
//   font-size: 20px;
//   line-height: 1.5;
// }

.profile__wrapper {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}
