/* Profile*/
.form-group-wrapper {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #7e9bbd;
  border-radius: 6px;
}

.form-group-wrapper__header {
  margin-bottom: 10px;
  text-align: center;
}

.form-group-wrapper__header p {
  display: inline-block;
}

.form-group-wrapper__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #7E9BBD
}