@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
}
body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
  font-weight: 500;
  letter-spacing: 0.02em;
}

img {
	display: block;
}

a {
  display: block;
	color: #000;
}

.inner-page {
  padding-top: 190px;
  padding-bottom: 130px;
}
