:root {
	--container-width: 1140px;
	--container-padding: 15px;

	--font-main: "Raleway", sans-serif;
	--font-titles: "Raleway", sans-serif;

	--page-bg: #fff;
  --page-bg-accent: #f1eadc;
	--text-color: #000;
  --accent: #6e9c9f;
	--accent-additional: #998e78;
	--link-color: var(--accent);

  --button-bg: var(--accent);
  --button-bg-hover: #509498;


  --laptop-size: 1600px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}