@charset "UTF-8";
/* Base */
/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1140px;
  --container-padding: 15px;
  --font-main: "Raleway", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-titles: "Raleway", sans-serif;
  --page-bg: #fff;
  --page-bg-accent: #f1eadc;
  --text-color: #000;
  --accent: #6e9c9f;
  --accent-additional: #998e78;
  --link-color: var(--accent);
  --button-bg: var(--accent);
  --button-bg-hover: #509498;
  --laptop-size: 1600px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(39, 39, 39);
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  text-wrap: balance;
  font-weight: 500;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

a {
  display: inline-block;
  color: #000;
}

.inner-page {
  padding-top: 190px;
  padding-bottom: 130px;
}
.inner-page--products {
  padding-bottom: 72px;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Демо контент */
.content-demo {
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: #dadada;
}

/* Контейнеры */
.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  width: 100%;
}

.container-full {
  padding: 0 var(--container-padding);
  max-width: 100%;
}

.container-left-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
}
@media (max-width: 820px) {
  .container-left-50 {
    max-width: 100%;
  }
}

.container-right-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
  margin-left: auto;
}
@media (max-width: 820px) {
  .container-right-50 {
    max-width: 100%;
  }
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-right {
    padding-left: var(--container-padding);
  }
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-left {
    padding-right: var(--container-padding);
  }
}

.container-half-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-half-left {
    padding-left: var(--container-padding);
  }
}
@media (max-width: 820px) {
  .container-half-left {
    padding: 0 var(--container-padding);
  }
}

.container-half-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1220px) {
  .container-half-right {
    padding-right: var(--container-padding);
  }
}
@media (max-width: 820px) {
  .container-half-right {
    padding: 0 var(--container-padding);
  }
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
}

.footer {
  padding: 60px 0;
  background-color: #e3e3e3;
}

.button-solid {
  display: inline-block;
  padding: 22px 0;
  width: 243px;
  height: 68px;
  background-color: var(--button-bg);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.39;
  text-align: center;
  color: #fff;
  transition: all 0.5s ease;
}
.button-solid:hover {
  background-color: var(--button-bg-hover);
}

.button-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  background-color: rgba(110, 156, 159, 0.1);
}

.button-outline {
  display: inline-block;
  padding: 20px 0;
  width: 243px;
  height: 68px;
  border: 1px solid var(--button-bg);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.39;
  text-align: center;
  color: var(--button-bg);
  transition: all 0.5s ease;
}
.button-outline:hover {
  background-color: var(--button-bg);
  color: #fff;
}

.button-fake {
  display: inline-block;
  width: 287px;
  height: 68px;
  padding: 16px 50px 16px 30px;
  background-color: #f1eadc;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.4;
  color: #000;
}

.h1 {
  font-family: var(--font-titles);
  font-size: 55px;
  line-height: 1.1;
}

.h2 {
  font-family: var(--font-titles);
  font-size: 40px;
  line-height: 1.1;
}

.h3 {
  font-family: var(--font-titles);
  font-size: 20px;
  line-height: 1.4;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.section-title {
  margin-bottom: 26px;
}

.heading {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
}

/* Blocks */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--text-color);
}

.cards-row {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.card {
  width: 350px;
  height: 558px;
  text-align: center;
}

.card__img {
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
}
.card__img::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease;
}
.card__img img {
  width: 350px;
  height: 478px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img svg {
  z-index: 9;
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}

.card:hover .card__img::before {
  background: rgba(110, 156, 159, 0.64);
}

.card:hover svg {
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #fff;
}

.card__title {
  margin-bottom: 7px;
}

.cart {
  position: relative;
}
.cart .counter {
  position: absolute;
  top: -9px;
  right: -10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--accent-additional);
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}

.link {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: transparent;
  transition: all 0.5s ease;
}
.link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #cededf;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.breadcrumb {
  display: inline-block;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000;
}

.breadcrumb--active {
  color: #909090;
}

.payment-list {
  display: flex;
  justify-content: flex-end;
}

.pages-shown {
  font-size: 17px;
  line-height: 1.4;
  color: #808080;
}

.price {
  font-size: 40px;
  line-height: 1.1;
  color: var(--accent-additional);
}

.price-old {
  margin-left: 30px;
  font-size: 30px;
  line-height: 1.1;
  text-decoration: line-through;
  color: #9c9c9c;
}

.notification {
  margin-top: 62px;
  padding: 30px 30px;
  width: 437px;
  text-align: center;
  background: #f1eadc;
}

.notification__text {
  font-size: 17px;
  line-height: 1.4;
}

.block-text {
  height: 60px;
  overflow: hidden;
}

.block-text__desc {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-width: 150px;
}

.nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 45px;
       column-gap: 45px;
}

.nav__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #000;
}

.nav__item a {
  color: #000;
  transition: color 0.5s ease;
}
.nav__item a:hover {
  color: var(--link-color);
}

.nav__list {
  align-items: center;
}

.nav__list-item {
  position: relative;
  z-index: 9;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.nav__list-item-link.nav__list-item-link--dropdown {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.nav__list-item__icon {
  transition: transform 0.4s ease;
}

.nav__list-item__sub-nav {
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0%, -10%);
  transition: all 0.2s ease-in;
  text-align: left;
  pointer-events: none;
}

.nav__list-item:hover .nav__list-item__sub-nav {
  pointer-events: all;
  opacity: 1;
  transform: translate(0, 0%);
  box-shadow: 0px 10px 20px 0px #7e9bbd;
}

.nav__list-item:hover .nav__list-item__icon {
  transform: rotate(-180deg);
}

.sub-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
  max-width: 50vw;
  -moz-column-gap: 15px;
       column-gap: 15px;
  background-color: #fff;
  font-size: 16px;
  transition: color 0.1s ease-in;
}

.sub-nav__item {
  position: relative;
  background-color: #f9fafb;
}

.sub-nav__link {
  display: flex;
  padding: 15px 20px;
  color: #000;
  background-color: #fff;
}
.sub-nav__link:hover {
  transform: translateX(3%);
}

.sub-nav__dropdown-menu {
  opacity: 0;
  width: 140px;
  pointer-events: none;
  position: absolute;
  z-index: 99;
  left: 100%;
  top: 0;
  transform: translate(-20%, 0%);
  transition: all 0.2s ease-in;
}

.sub-nav-inner {
  margin-bottom: -10px;
  display: grid;
  background-color: #879bb2;
  font-size: 16px;
  transition: color 0.1s ease-in;
}

.sub-nav__item:hover .sub-nav__dropdown-menu,
.sub-nav__dropdown-menu:hover .sub-nav__dropdown-menu {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0%);
}

.sub-nav-inner__link {
  display: flex;
  padding: 15px 15px 15px 30px;
  color: #fff;
}
.sub-nav-inner__link:hover {
  transform: translateX(3%);
}

.products-nav {
  align-items: center;
}

.products-nav__button {
  position: relative;
  z-index: 9;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.form-input-wrapper {
  padding-right: 93px;
}

.form-input {
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid #000;
}

.form-textarea {
  width: 100%;
  height: 134px;
  border-bottom: 1px solid #000;
  font-size: 17px;
  line-height: 1.4;
  color: #868686;
}

.form-contact {
  width: 443px;
}
.form-contact * + * {
  margin-top: 35px;
}

.form-contact__title {
  margin-bottom: 62px;
  font-size: 25px;
  line-height: 1.4;
}

.form-contact__button:not(:last-child) {
  margin-bottom: 62px;
}

.authorization-form {
  padding: 30px;
  width: 350px;
  display: flex;
  display: block;
  flex-direction: column;
  align-items: stretch;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
  text-align: center;
}

.authorization-form__heading {
  margin-bottom: 30px;
}

.authorization-form__input {
  margin-bottom: 15px;
}

.authorization-form__button {
  margin-bottom: 15px;
}

.authorization-form__button > button {
  width: 100%;
}

.authorization-form__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorization-form__links a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  transition: color 0.1s ease-in;
  cursor: pointer;
}

.authorization-form__links a:hover {
  color: #b3b3b3;
  text-decoration: none;
}

.authorization-form__links a:not(:last-child) {
  margin-bottom: 15px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-item {
  padding: 15px;
  border: 1px solid rgb(199, 209, 216);
  flex-grow: 2;
}

.dashboard-item {
  margin-left: 15px;
  margin-bottom: 15px;
}

.dashboard-item__title {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 25px;
}

.dashboard-item__value {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 25px;
}

.definition-list .definition + .definition {
  margin-top: 20px;
}

.definition {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.definition__term {
  margin: 0;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #7e9bbd;
}

.definition__description {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #000000;
}

.article {
  display: flex;
  -moz-column-gap: 94px;
       column-gap: 94px;
  align-items: center;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article + .article {
  margin-top: 130px;
}

.article__img {
  flex-shrink: 0;
  flex-grow: 1;
  overflow: hidden;
}
.article__img img {
  width: 446px;
  height: 547px;
}

.article__content {
  flex-grow: 1;
}

.article__title {
  margin-bottom: 46px;
}

.article__text {
  font-size: 17px;
  line-height: 1.4;
}
.article__text p + p {
  margin-top: 15px;
}

.header-top {
  position: sticky;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
}
.header-top--gradient-bg {
  background: linear-gradient(90deg, #fff 57%, var(--page-bg-accent) 57%);
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
}
.header-top__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1220px) {
  .header-top__nav {
    display: none;
  }
}

.header-top__cta {
  width: 255px;
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header-top__phone {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.icons-wrapper {
  padding: 30px 0;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.icon {
  fill: transparent;
  stroke: transparent;
  width: 25px;
  height: 25px;
}

.icon--logo {
  fill: #000;
}

.icon--shopping-bag {
  fill: #000;
}

.icon--arrow-bottom {
  width: 14px;
  height: 28px;
  stroke: #6e9c9f;
}

.icon--arrow-right {
  width: 32px;
  height: 24px;
}

.icon--arrow-right.dark {
  stroke: #000;
}

.icon--approved,
.icon--settings,
.icon--hand {
  width: 61px;
  height: 61px;
  fill: #000;
}

.icon--phone {
  padding: 3px 4px 7px 6px;
  width: 27px;
  height: 27px;
  fill: #6E9C9F;
  transition: all 0.5s ease;
}

:is(a:hover) .icon--phone {
  background-color: var(--accent);
  fill: #fff;
}

.icon--instagram,
.icon--facebook,
.icon--twitter {
  width: 23px;
  height: 23px;
  fill: #000;
}

.icon--file-check {
  width: 96px;
  height: 96px;
  fill: #6E9C9F;
}

.icon--control-up, .icon--control-down {
  width: 14px;
  height: 10px;
  stroke: #A0BBCC;
}

.icon--delete {
  width: 12px;
  height: 12px;
  stroke: #000;
}

.icon--success {
  width: 96px;
  height: 96px;
  fill: #6E9C9F;
}

.icon--slider-arrow {
  width: 30px;
  height: 14px;
  stroke: #000;
}

.icon--slider-arrow-prev {
  transform: rotate(180deg);
}

.icon--profile {
  stroke: #000;
}

.icon--logout {
  stroke: #000;
}

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #8ccae6;
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #fff;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;
}
.mobile-nav__list .active {
  opacity: 0.5;
}

/* Nav Icon */
.mobile-nav-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --spacing: 6px;
  --color: #000;
  --radius: 4px;
  /* Fixed height and width */
  /* height: var(--height); */
  /* width: var(--width); */
  /* Dynamic height and width */
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  /* top: calc(var(--line-height) * -2); */
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
  /* top: calc(var(--line-height) * 2); */
  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
}

.section-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.section-pagination__item {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 41px;
  height: 41px;
  border: 1px solid #000;
  font-size: 17px;
  line-height: 1.41;
}

.section-pagination__item.arrow {
  padding: 10px 10px;
}

.section-pagination__item.active {
  background-color: #000;
  color: #fff;
}

.pagination-button {
  display: inline-block;
  color: inherit;
}

.arrow {
  width: 20px;
}
.arrow svg {
  vertical-align: sub;
}

.arrow-prev {
  transform: rotate(180deg);
}

.swiperHeaderText {
  width: 563px;
  height: 300px;
}

.swiper.swiperHeaderImg {
  margin-right: unset;
  width: 410px;
  height: 646px;
}

/*Pagination*/
.swiper-pagination-custom.swiper-pagination.swiper-pagination-bullets {
  width: 114px;
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.swiper-pagination-custom.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  display: inline-block;
  width: 30px;
  height: 4px;
  border-radius: unset;
  opacity: 1;
  background-color: #d1d1d1;
}
.swiper-pagination-custom.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #000;
}

.swiper-pagination-custom.swiper-pagination-custom--light.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.36);
}
.swiper-pagination-custom.swiper-pagination-custom--light.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiperHeaderText-pagination.swiper-pagination.swiper-pagination-bullets {
  bottom: -126px;
  left: unset;
  right: unset;
  right: 163px;
}

.swiperAbout-pagination.swiper-pagination.swiper-pagination-bullets {
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
}

.swiperAbout {
  width: 729px;
  height: 487px;
}

.swiper-arrows {
  width: 100%;
  height: 14px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-arrow {
  position: absolute;
  width: 30px;
  height: 14px;
  z-index: 9;
  cursor: pointer;
}

.swiper-arrow.swiper-button-disabled .icon--slider-arrow {
  stroke: #858585;
}

.swiperAbout-button-prev {
  left: -60px;
}

.swiperAbout-button-next {
  right: -60px;
}

.tab__nav {
  margin-bottom: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.tab__block {
  display: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 65px;
  flex-wrap: wrap;
}

.tab__block.active {
  display: flex;
}

.tab__nav-button {
  padding: 19px 65px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}
.tab__nav-button:hover {
  cursor: pointer;
  background-color: #eaeaea;
}

.tab__nav-button.active {
  background-color: #000;
  color: #fff;
}

.profile-form .tab__nav {
  margin-bottom: 15px;
}

.profile-form .tab__nav {
  justify-content: center;
}

.profile-form .tab__block.active {
  display: block;
}

.tab__nav-button--outline {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  border: none;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
.tab__nav-button--outline.active {
  color: #000;
  background-color: #fff;
}
.tab__nav-button--outline:hover {
  background: #fff;
}

.tab__nav-button--outline::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  transition: all 2s ease;
  display: none;
}

.tab__nav-button--outline.active::before {
  display: inline-block;
}

.title-1 {
  margin: 1em 0 0.5em;
  font-size: 38px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.title-2 {
  margin: 1em 0 0.5em;
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.title-3 {
  margin: 1em 0 0.5em;
  font-size: 26px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.title-4 {
  margin: 1em 0 0.5em;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-titles);
}

.block-upload {
  font-family: "Montserrat", sans-serif;
}

.block-upload__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: auto;
  color: #000;
}

.block-upload__description p {
  font-size: 16px;
  line-height: auto;
  color: #000;
}

.block-upload__file-wrapper {
  display: flex;
  align-items: center;
}

.file-button {
  border: none;
  border-radius: 6px;
  background: #EAEFF2;
  outline: none;
  padding: 10px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.checkbox__item {
  display: flex;
  align-items: center;
}

.table thead th {
  padding: 20px;
  height: 60px;
  background: #eaeff2;
}

.mt-15 {
  margin-top: 15px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.checkbox__btn {
  margin-right: 10px;
}

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.authorization-page .input {
  padding: 10px 14px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  outline: none;
}

.definition-list .definition + .definition {
  margin-top: 20px;
}

.definition {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.definition__term {
  margin: 0;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #7e9bbd;
}

.definition__description {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #000000;
}

.avatar-small {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-big {
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.avatar-big img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.form-order {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 5fr;
}

.form-order__user {
  width: 350px;
}

.form-order__block input + input {
  margin-top: 35px;
}
.form-order__block:not(:last-child) {
  margin-bottom: 80px;
}

.form-order__row {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 15px;
}

.form-order__row + .form-order__row {
  margin-top: 20px;
}

.form-order__title {
  margin-bottom: 47px;
  font-size: 25px;
  line-height: 1.4;
}

.form-order__input-wrapper {
  width: 350px;
}

.form-order__table {
  margin-bottom: 160px;
}

.form-order__table-row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.form-order__table-row + .form-order__table-row {
  margin-top: 30px;
}

.form-order__total--button-fake {
  position: relative;
  z-index: 2;
}
.form-order__total--button-fake::before {
  z-index: -1;
  display: inline-block;
  content: "";
  position: absolute;
  top: -15px;
  left: -18px;
  display: inline-block;
  width: 65%;
  height: 57px;
  background-color: #f1eadc;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.4;
  color: #000;
}

.form-order__button {
  margin-top: 47px;
}

.radio-button {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.radio-button-real {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.radio-button-custom {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  vertical-align: sub;
}

.radio-button-real:focus + .radio-button-custom {
  box-shadow: 0px 0px 0px 1px #000, 0px 0px 10px #ccc;
}

.radio-button-custom::before {
  content: "";
  /* Рисуем квадрат*/
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  /* Выравниваем по центру */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

/*
Активируем фейковый(декоративный) чекбокс
*/
.radio-button-real:checked + .radio-button-custom::before {
  transform: translate(-50%, -50%) scale(1);
}

.form-order__img-wrapper {
  width: 60px;
  height: auto;
}

.notifications-wrapper {
  display: flex;
  justify-content: center;
}

.notifications-wrapper__row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.notifications {
  margin-bottom: 20px;
}

.notifications__title {
  padding: 14px 20px;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  color: #000;
  border-radius: 6px;
  background-color: #F2E09F;
}

.notifications.notifications__title--with-message .notifications__title {
  border-radius: 6px 6px 0 0;
}

.notifications__title--error {
  background-color: #DD4E55;
  color: #FFFFFF;
}

.notifications__title--success {
  background-color: #61D392;
  color: #FFFFFF;
}

.notifications__message {
  padding: 20px;
  background-color: #EAEFF2;
  border-radius: 0px 0px 6px 6px;
}

.notifications__message p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.notifications__message p:not(:last-child) {
  margin-bottom: 10px;
}

.admin-page {
  background: #E0E0E0;
}

.admin-page__content {
  position: absolute;
  left: 320px;
  top: 40px;
}

.admin-page__left-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.admin-form {
  padding: 20px 30px 34px 30px;
  max-width: unset;
  width: 100%;
  background-color: #fff;
}

.admin-form__date {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #7e9bbd;
  line-height: 1.3;
}

.admin-form .section-pagination {
  margin-top: 40px;
}

.admin-form__date img {
  margin-right: 7px;
  margin-bottom: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.admin-form__item--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.admin-form__item + .admin-form__item {
  margin-top: 30px;
}

.admin-form__title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.admin-form .heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #000;
}

.admin-section-title {
  font-size: 26px;
  font-weight: 600;
  margin: 30px -30px 20px;
  padding: 15px 30px;
  background-color: #efefef;
}

.admin-form__label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

/* Single order in admin panel*/
.order-table,
.order-table th,
.order-table td {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  padding: 10px;
}

.order-table td img {
  width: 100px;
}

.admin-form-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-form-table__header {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000;
}

.admin-form-table__row {
  position: relative;
  height: 60px;
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);
  background-color: #fff;
}

.admin-form-table__row.message-new {
  background-color: #edffd0;
}

.admin-form-table__unit {
  padding: 20px;
}

/* Section */
.admin-panel {
  padding: 15px 40px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.admin-panel ~ .header-top {
  padding-top: 70px;
}

.admin-panel__message-icon {
  padding: 4px;
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  transform: translate(0%, -50%);
  font-size: 12px;
  text-align: center;
  background-color: #c90000;
  border-radius: 50%;
  font-family: var(--font-secondary);
  min-width: 18px;
}

.admin-panel__block-list {
  display: flex;
  align-items: center;
}

.admin-panel__message {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.admin-panel__link {
  margin-right: 45px;
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in;
}
.admin-panel__link:hover {
  opacity: 0.8;
}

.admin-panel__block-button {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in;
}
.admin-panel__block-button:hover {
  color: #fff;
}

.about-us__header {
  margin-bottom: 84px;
}

.about {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about__img {
  position: relative;
}

.about__content {
  display: grid;
  grid-template-columns: 6fr 3fr;
  -moz-column-gap: 124px;
  justify-content: space-between;
  column-gap: 124px;
}

.about__header {
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 1.4;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.about__text {
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 1.4;
}
.about__text p + p {
  margin-top: 10px;
}

.arrival {
  padding-top: 130px;
}

.arrival__cards-wrapper {
  margin-bottom: 65px;
}

.arrival__button {
  text-align: center;
}

.cart-header {
  padding-bottom: 26px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 475px auto;
  border-bottom: 1px solid #ccc;
}

.cart-header__wrapper {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 1fr 1fr 65px 1fr;
}

.cart-header__title {
  font-size: 20px;
  line-height: 1.4;
}

.cart-header__total {
  grid-column: 4;
}

.cart-footer {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-footer__total {
  height: 68px;
  padding: 16px 31px;
  background-color: #f1eadc;
  font-size: 25px;
  line-height: 1.4;
}

.cart-footer__button {
  margin-left: 15px;
}

.contacts__header {
  margin-bottom: 214px;
}

.contacts__map {
  margin-bottom: 130px;
}

.contacts__widget:not(:last-child) {
  margin-bottom: 130px;
}

.contacts__list {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.contacts__item {
  font-size: 20px;
  line-height: 1.4;
}
.contacts__item p {
  margin-bottom: 20px;
}

.contacts__form {
  margin-bottom: 62px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--page-bg-accent);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.footer__content a {
  display: block;
}

.footer__column {
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 30px;
}
.footer__column:first-child {
  grid-column: 1;
}
.footer__column:last-child {
  grid-column: 3;
}

.footer__nav {
  grid-column: 2;
  font-size: 15px;
}

.footer__contact {
  grid-column: 3;
  text-align: right;
}
.footer__contact * + * {
  margin-top: 10px;
}

.footer__copyright {
  grid-column: 1;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.inner-nav-wrapper {
  margin-top: 40px;
}

.inner-nav__list li + li {
  margin-top: 10px;
}

.feature {
  padding-top: 130px;
}

.feature__list {
  margin-bottom: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature__item {
  width: 350px;
}

.feature__img {
  margin-bottom: 37px;
}

.feature__name {
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 1.4;
  text-decoration: underline;
  text-underline-offset: 5px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.feature__text p + p {
  margin-top: 10px;
}

.feature__button {
  text-align: center;
}

.header {
  padding-bottom: 60px;
  background: linear-gradient(90deg, #fff 57%, var(--page-bg-accent) 57%);
}

.header__content {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
}

/*text*/
.header__block {
  position: relative;
  margin-top: 145px;
}

.header__title {
  margin-bottom: 45px;
}

.header__desc {
  padding-right: 163px;
}
.header__desc p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
  color: #000;
}
.header__desc p + p {
  margin-top: 10px;
}

.header__button {
  display: flex;
  justify-content: flex-end;
  padding-right: 163px;
}

/* images*/
.header__hero {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.header__image-main {
  padding-left: 50px;
  overflow: hidden;
}
.header__image-main img {
  display: block;
  width: 410px;
  height: 646px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__image-less {
  position: absolute;
  z-index: 9;
}
.header__image-less:first-child {
  left: 60px;
  bottom: -60px;
}
.header__image-less:last-child {
  transform: translateX(100%);
  right: 24px;
  bottom: 88px;
}

.order__header {
  margin-bottom: 214px;
}

.order__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__img {
  margin-right: 32px;
  overflow: hidden;
}
.order__img img {
  width: 96px;
  height: 96px;
}

.order__text {
  font-size: 17px;
  line-height: 1.4;
}

.order__title {
  margin-bottom: 17px;
  font-size: 25px;
}

.product-cart {
  display: grid;
  grid-template-columns: 475px auto;
  font-size: 17px;
  line-height: 1.4;
}
.product-cart + .product-cart {
  margin-top: 70px;
}

.product-cart__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-cart__wrapper:last-child {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 1fr 1fr 65px 1fr;
}

.product-cart__controls {
  margin-right: 45px;
}

.product-cart__img {
  margin-right: 36px;
}

.count {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.count__input::-webkit-inner-spin-button, .count__input::-webkit-outer-spin-button, .count__box {
  -webkit-appearance: none;
  appearance: none;
}

.count__box {
  height: 47px;
  width: 47px;
  border: 1px solid #afafaf;
}

.count__input {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 47px;
}

.count__controls {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.product-cart__total {
  grid-column: 4;
}

main.product-page {
  padding-top: 110px;
  padding-bottom: 130px;
}

.product {
  margin-bottom: 130px;
}

.product__header {
  margin-bottom: 102px;
}

.product__content {
  display: flex;
  align-items: center;
  -moz-column-gap: 74px;
       column-gap: 74px;
}

.product__cta {
  display: flex;
  -moz-column-gap: 11px;
       column-gap: 11px;
}

.product__img {
  overflow: hidden;
}
.product__img img {
  width: 536px;
  height: 720px;
}

.products__header {
  margin-bottom: 65px;
}

.products__cards {
  margin-bottom: 65px;
}

.products__pages-shown {
  margin-bottom: 65px;
}

.profile {
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile__title {
  padding-bottom: 40px;
  text-align: center;
}

.profile__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
}

.profile__column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.profile__column--img {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.profile__column--desc {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.profile__definition-list {
  margin-bottom: 20px;
}

.profile__wrapper {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.profile-form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
}

.profile-form__row + .profile-form__row {
  margin-top: 40px;
}

.profile-form__column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.profile-form__item {
  margin-bottom: 40px;
}

.profile-form__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.profile-form__img {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.profile-form__upload {
  flex: 0 0 50%;
  max-width: 50%;
}

.profile-input {
  padding: 10px 14px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  outline: none;
}

.profile-form__container {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.profile-input__label {
  margin-bottom: 1.5rem;
  display: block;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.profile-input__label > .profile-input:first-child {
  margin-top: 10px;
}

.profile-form__group-wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.profile-form__group-wrapper > * {
  max-width: 30%;
}

.profile-form__group-header {
  margin-bottom: 10px;
  text-align: center;
}
.profile-form__group-header p {
  display: inline-block;
}

.page-order__header {
  margin-bottom: 216px;
}

.link-to-page {
  cursor: pointer;
}
.link-to-page::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in;
}

.link-above-others {
  position: relative;
  z-index: 11;
}

.page-shopping-cart__header {
  margin-bottom: 138px;
}

.page-shopping-cart__grid {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 2fr 3fr 2fr;
  align-items: center;
}

.page-shopping-cart__grid + .page-shopping-cart__grid {
  margin-top: 50px;
}

.page-shopping-cart__heading {
  padding-bottom: 26px;
  border-bottom: 1px solid #ccc;
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.page-shopping-cart__block--flex {
  display: flex;
  align-items: center;
}

.page-shopping-cart__block {
  font-size: 17px;
  line-height: 1.4;
}

.page-shopping-cart__delete {
  padding: 20px 20px;
  margin: -20px -20px;
  margin-right: 45px;
}
.page-shopping-cart__delete svg {
  transition: all 0.2s ease-in;
}
.page-shopping-cart__delete:hover svg {
  stroke: red;
}

.page-shopping-cart__img {
  margin-right: 36px;
  overflow: hidden;
}
.page-shopping-cart__img img {
  width: 125px;
  height: 179px;
}

.page-shopping-cart__amount {
  font-weight: 400;
  font-size: 20px;
}
.page-shopping-cart__amount span {
  padding: 8px 18px 11px 20px;
  width: 47px;
  height: 47px;
  border: 1px solid #afafaf;
}

.page-shopping-cart__check {
  margin-bottom: 28px;
}

.page-shopping-cart__row {
  display: flex;
  justify-content: flex-end;
}

.page-shopping-cart__buttons-wrapper {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.authorization-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: var(--accent);
  background-image: url(./../img/authorization-page/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.authorization-page::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.authorization-page__header {
  padding-top: 40px;
}

.authorization-page__header-title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  color: #FFFFFF;
}

.authorization-page__header-subtitle {
  margin: 0;
  margin-bottom: 40px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.authorization-page__footer {
  padding-bottom: 40px;
}

.authorization-page__footer__copyright p {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
}

/* .... Authorization .... */
.authorization-page__header {
  text-align: center;
}

.authorization-page__header > * {
  opacity: inherit;
}

.authorization-page__header a {
  transition: all 0.1s ease-in;
}

.authorization-page__header a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.authorization-page::before,
.authorization-page::after {
  display: none;
}

.admin-panel {
  padding: 15px 40px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.admin-panel ~ .header-top {
  padding-top: 70px;
}

.admin-panel__message-icon {
  padding: 4px;
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  transform: translate(0%, -50%);
  font-size: 12px;
  text-align: center;
  background-color: #c90000;
  border-radius: 50%;
  font-family: var(--font-secondary);
  min-width: 18px;
}

.admin-panel__block-list {
  display: flex;
  align-items: center;
}

.admin-panel__message {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.admin-panel__link {
  margin-right: 45px;
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in;
}
.admin-panel__link:hover {
  opacity: 0.8;
}

.admin-panel__block-button {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in;
}
.admin-panel__block-button:hover {
  color: #fff;
}

.control-panel {
  padding: 30px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  min-height: 100%;
  background-color: #212121;
  color: #fff;
}

.control-panel__container {
  margin-bottom: 100px;
}

.control-panel__title-wrapper {
  margin-bottom: 30px;
  text-align: center;
}

.control-panel__title {
  margin-bottom: 15px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
}

.control-panel__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
}

.control-panel__list-link {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.1s ease-in;
}

.control-panel__list-link:hover {
  text-decoration: none;
  background-color: rgba(73, 82, 91, 0.5);
  color: #fff;
}

.control-panel__list-link--active {
  background-color: #49525B;
}
.control-panel__list-link--active:hover {
  background-color: #49525B;
}

.control-panel__inner-link {
  padding-left: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #bdc3c7;
  transition: background-color 0.1s ease-in;
}

.control-panel__inner-link:hover {
  color: #bdc3c7;
  text-decoration: none;
  background-color: rgba(73, 82, 91, 0.5);
}

.control-panel__inner-link--active {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}

.control-panel__inner-link--active:hover {
  text-decoration: none;
  background-color: rgba(73, 82, 91, 0.5);
  color: #fff;
}

.control-panel__list-img-wrapper {
  margin-right: 20px;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.control-panel__list-img-wrapper-img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.control-panel__list-img-badge {
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: red;
  text-align: center;
}

a.control-panel__title-wrapper {
  color: #fff;
  text-decoration: none;
  display: block;
}

.control-panel__list-img-badge {
  min-width: 18px;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */