

.admin-form-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.admin-form-table__header {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000;
}

.admin-form-table__row {
  position: relative;

  height: 60px;
  border-bottom: 1px solid rgba(126, 155, 189, 0.3);

  background-color: #fff;
}

.admin-form-table__row.message-new {
  background-color: #edffd0;
}

.admin-form-table__unit {
  padding: 20px;
}

