.block-upload {
  font-family: "Montserrat", sans-serif;
}

.block-upload__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: auto;
  color: #000;
}

.block-upload__description p {
  font-size: 16px;
  line-height: auto;
  color: #000;
}

.block-upload__file-wrapper {
  display: flex;
  align-items: center;
}

.file-button {
  border: none;
  border-radius: 6px;
  background: #EAEFF2;
  outline: none;
  padding: 10px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.checkbox__item {
  display: flex;
  align-items: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mt-15 {
  margin-top: 15px;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.checkbox__btn {
  margin-right: 10px;
}

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  // resize: vertical;
}