.cart {
  position: relative;

  .counter {
    position: absolute;
    top: -9px;
    right: -10px;

    display: inline-block;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: var(--accent-additional);

    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-align: center;
    color: #fff;
  }
}

.link {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;

  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: transparent;

  transition: all 0.5s ease;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #cededf;
  }
}

.social-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
}

.breadcrumb {
  display: inline-block;
  
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000;
}

.breadcrumb--active {
  color: #909090;
}

.payment-list {
  display: flex;
  justify-content: flex-end;
}

.pages-shown {
  font-size: 17px;
  line-height: 1.4;
  color: #808080;
}

.price {
  font-size: 40px;
  line-height: 1.1;
  color: var(--accent-additional);
}

.price-old {
  margin-left: 30px;
  
  font-size: 30px;
  line-height: 1.1;
  text-decoration: line-through;
  color: #9c9c9c;
}

.notification {
  margin-top: 62px;
  padding: 30px 30px;
  width: 437px;
  text-align: center;
  background: #f1eadc;
}

.notification__text {
  font-size: 17px;
  line-height: 1.4;
}