.definition-list .definition + .definition {
  margin-top: 20px;
}

.definition {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.definition__term {
  margin: 0;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #7e9bbd;
}

.definition__description {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #000000;
}