.form-input-wrapper {
  padding-right: 93px;
}

.form-input {
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid #000;
}

.form-textarea {
  width: 100%;
  height: 134px;
  border-bottom: 1px solid #000;

  font-size: 17px;
  line-height: 1.4;
  color: #868686;
}

// .form__bottom {
//   display: flex;
//   column-gap: 11px;
// }

// .input-wrapper {
//   padding: 20px 30px;
//   width: 68px;
//   height: 68px;
//   border: 1px solid #afafaf;
// }

// .input::placeholder {
//   font-family: var(--font-family);
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 1.4;
//   letter-spacing: 0.02em;
//   color: #000;
// }