.section-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;
}

.section-pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border: 1px solid #000;

  font-size: 17px;
  line-height: 141;
}

.section-pagination__item.active {
  background-color: #000;
  color: #fff;
}

.pagination-button {
  display: inline-block;
  color: inherit
}

.arrow {
  width: 20px;
  svg {
    vertical-align: sub;
  }
}

.arrow-prev {
  transform: rotate(180deg);
}