.sub-nav__dropdown-menu {
  opacity: 0;
  width: 140px;
  pointer-events: none;
  position: absolute;
  z-index: 99;
  left: 100%;
  top: 0;
  transform: translate(-20%, 0%);
  transition: all 0.2s ease-in;
}

.sub-nav-inner {
  // padding: 10px 15px 10px 30px;
  // margin-top: -10px;
  margin-bottom: -10px;

  display: grid;
  // background-color: #fff;

  background-color: #879bb2;

  font-size: 16px;
  transition: color 0.1s ease-in;
}

.sub-nav__item:hover .sub-nav__dropdown-menu,
.sub-nav__dropdown-menu:hover .sub-nav__dropdown-menu {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0%);
}


.sub-nav-inner__link {
  display: flex;
  padding: 15px 15px 15px 30px;

  color: #fff;
  // color: #7e9bbd;

  &:hover {
  //  color: #000;
   transform: translateX(3%);
  }
}




