.swiperHeaderText {
  width: 563px;
  height: 385px;
}

.swiper.swiperHeaderImg {
  margin-right: unset;
  width: 410px;
  height: 646px;
}

/*Pagination*/
.swiperHeaderText-buttons .swiper-pagination-bullets.swiper-pagination-horizontal.swiperHeaderText-button {
  bottom: -126px;
  right: 163px;

  display: flex;
  justify-content: flex-start;
  column-gap: 12px;
}

.swiper-pagination.swiperHeaderText-buttons .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: #d1d1d1;
}

.swiper-pagination.swiperHeaderText-buttons .swiper-pagination-bullets.swiper-pagination-horizontal.active  {
  background-color: #000;
}


